<!-- 
  Author: Abhishek Sarkar
  Date: 17-04-2020
 -->
<footer class="footer">
  <div class="container-fluid">
    <nav>
      <ul>
        <li>
          <a href="#">
            <i class="fab fa-facebook-square fa-2x"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-github-square fa-2x"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-twitter-square fa-2x"></i>
          </a>          
        </li>
        <li>
          <a href="#">
            <i class="fab fa-linkedin fa-2x"></i>
          </a>    

        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy;
      {{test | date: 'yyyy'}}, Copyright by
      <a href="https://www.invisionapp.com" target="_blank">Skill Assure Pvt. Ltd</a>
      <!-- <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>. -->
    </div>
  </div>
</footer>
