<div class="panel-header panel-header-sm bg-color-panel">
    <canvas baseChart id="bigDashboardChart"></canvas>               
</div>

<div class="main-content">
  <div class="row">
    <!-- Heart Attack Reported Chart -->
    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <!-- <h5 class="card-category">Email Statistics</h5> -->
          <h4 class="card-title">Heart Attacks Reported</h4>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas baseChart id="barChartSimpleGradientsNumbers" [datasets]="lineChartGradientsNumbersData"
              [labels]="lineChartGradientsNumbersLabels" [colors]="lineChartGradientsNumbersColors"
              [options]="lineChartGradientsNumbersOptions" [chartType]="lineChartGradientsNumbersType"
              (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons ui-2_time-alarm"></i> Last 7 days
          </div>
        </div>
      </div>
    </div>


    <!-- Heart Attack Predicted Chart -->
    <div class="col-lg-4">
      <div class="card card-chart">
        <div class="card-header">
          <!-- <h5 class="card-category">Global Sales</h5> -->
          <h4 class="card-title">Heart Attacks Predicted</h4>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas baseChart id="lineChartExample" [datasets]="lineChartData" [labels]="lineChartLabels"
              [colors]="lineChartColors" [options]="lineChartOptions" [chartType]="lineChartType"
              (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
            </canvas>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
          </div>
        </div>
      </div>
    </div>

    <!-- Heart Attack Cured Chart -->
    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <!-- <h5 class="card-category">2018 Sales</h5> -->
          <h4 class="card-title">Heart Attacks Cured</h4>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <!-- <canvas id="lineChartExampleWithNumbersAndGrid"></canvas> -->
            <canvas baseChart id="lineChartExampleWithNumbersAndGrid" [datasets]="lineChartWithNumbersAndGridData"
              [labels]="lineChartWithNumbersAndGridLabels" [colors]="lineChartWithNumbersAndGridColors"
              [options]="lineChartWithNumbersAndGridOptions" [chartType]="lineChartWithNumbersAndGridType"
              (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
            </canvas>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
          </div>
        </div>
      </div>
    </div>


  </div>

  <div class="row">
    
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">          
          <h4 class="card-title"> Total Prediction</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <!-- <thead class=" text-primary">
                <th>
                  Name
                </th>
                <th>
                  Country
                </th>
                <th>
                  City
                </th>
                <th class="text-right">
                  Salary
                </th>
              </thead> -->
              <tbody>
                <tr>
                  <td>
                    Sun
                  </td>
                  <td>
                    2
                  </td>
                  <td>
                    10%
                  </td>
                  <td class="text-right">
                    Sat,Sun
                  </td>
                </tr>
                <tr>
                  <td>
                    Sat
                  </td>
                  <td>
                    2
                  </td>
                  <td>
                    10%
                  </td>
                  <td class="text-right">
                    Fri,Sat
                  </td>
                </tr>
                <tr>
                  <td>
                    Fri
                  </td>
                  <td>
                    2
                  </td>
                  <td>
                    10%
                  </td>
                  <td class="text-right">
                    Thu,Fri
                  </td>
                </tr>
                <tr>
                  <td>
                    Thu
                  </td>
                  <td>
                    2
                  </td>
                  <td>
                    10%
                  </td>
                  <td class="text-right">
                    Wed,Thu
                  </td>
                </tr>
                <tr>
                  <td>
                    Wed
                  </td>
                  <td>
                    2
                  </td>
                  <td>
                    10%
                  </td>
                  <td class="text-right">
                    Tue,Wed
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
