<div class="panel-header panel-header-sm">
</div>

<!-- Author: Abhishek Sarkar
     Date: 16-04-2020
    Module: Heart Attack Predictor -->
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title" style="color:#5781ff;">Heart Attack Predictor</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">

              <div class="col-md-3 pr-1">
                <div class="form-group">
                  <label>What's your age group?</label>
                  <input type="text" class="form-control" placeholder="Eg: 32" value="Eg: 32">
                </div>
              </div>

              <div class="col-md-3 px-1">
                <div class="form-group">                
                    <label class="col-form-label  pt-0">Gender</label>                 
                    <div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input class="custom-control-input" type="radio" name="gridRadios" id="genRadio1" value="option1" checked>
                        <label class="custom-control-label" for="genRadio1">
                          Male
                        </label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input class="custom-control-input" type="radio" name="gridRadios" id="genRadio2" value="option1" >
                        <label class="custom-control-label" for="genRadio2">
                          Female
                        </label>
                      </div>
                    </div>
                </div>
              </div>
              <div class="col-md-3 px-1">
                <div class="form-group">                
                    <label class="col-form-label  pt-0">Do you experience chest pain?</label>                 
                    <div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input class="custom-control-input" type="radio" name="chestRadios" id="chestRadio1" value="option1" checked>
                        <label class="custom-control-label" for="chestRadio1">
                          Yes
                        </label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input class="custom-control-input" type="radio" name="chestRadios" id="chestRadio2" value="option1" >
                        <label class="custom-control-label" for="chestRadio2">
                          No
                        </label>
                      </div>
                    </div>
                </div>
              </div>
              <div class="col-md-3 pl-1">
                <div class="form-group">
                  <label>Blood Pressure level</label>
                  <input type="text" class="form-control" placeholder="Eg: 110" value="">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 pr-1">
                <div class="form-group">
                  <label>Cholesterol level</label>
                  <input type="text" class="form-control" placeholder="Eg: 140" value="">
                </div>
              </div>
              <div class="col-md-3 pl-1">
                <div class="form-group">
                  <label>Fasting blood sugar level</label>
                  <input type="text" class="form-control" placeholder="Eg: 323" value="">
                </div>
              </div>
              <div class="col-md-3 px-1">
                <div class="form-group">                
                    <label class="col-form-label  pt-0">Resting electrocardiograph?</label>                 
                    <div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input class="custom-control-input" type="radio" name="restRadios" id="restRadio1" value="option1" checked>
                        <label class="custom-control-label" for="restRadio1">
                          Yes
                        </label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input class="custom-control-input" type="radio" name="restRadios" id="restRadio2" value="option1" >
                        <label class="custom-control-label" for="restRadio2">
                          No
                        </label>
                      </div>
                    </div>
                </div>
              </div>
              <div class="col-md-3 pl-1">
                <div class="form-group">
                  <label>Maximum heart rate achieved</label>
                  <input type="text" class="form-control" placeholder="Eg: 323" value="">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3 pr-1">
                <div class="form-group">                
                    <label class="col-form-label  pt-0">Exercise include angina</label>                 
                    <div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input class="custom-control-input" type="radio" name="exeRadios" id="exeRadio1" value="option1" checked>
                        <label class="custom-control-label" for="exeRadio1">
                          Yes
                        </label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input class="custom-control-input" type="radio" name="exeRadios" id="exeRadio2" value="option1" >
                        <label class="custom-control-label" for="exeRadio2">
                          No
                        </label>
                      </div>
                    </div>
                </div>
              </div>
              <div class="col-md-3 pl-1">
                <div class="form-group">
                  <label>Depression induced by exercise</label>
                  <input type="text" class="form-control" placeholder="Enter in range 0-10" value="">
                </div>
              </div>
              <div class="col-md-3 pl-1">
                <div class="form-group">
                  <label>Slope of the peak exercise</label>
                  <input type="text" class="form-control" placeholder="Enter in range 0-10" value="">
                </div>
              </div>
              <div class="col-md-3 pl-1">
                <div class="form-group">
                  <label>Vessels coloured by flourosopy</label>
                  <input type="text" class="form-control" placeholder="Enter in range 0-3" value="">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Thalassemia level</label>
                  <input type="text" class="form-control" placeholder="3=Normal, 6= Fixed defect, 7= reversible defect" value="">
                </div>
              </div>
              
            </div>
            <div  style="text-align: center;">
              <button type="button" class="btn btn-info" data-toggle="modal" (click)="open(mymodal)">Calculate Now</button>
            </div>

<!-- Danger Modal -->      
   
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Heart Attack Predictor</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <b>
      <span> We suggest you to have a consultation with a cardiologist at the earliest.</span>
    </b>

    <div class="card row">
      <div class="col-lg-12">
        <div class="card-body">
          <div class="row">
            <div class="col col-lg-3"> 
              <div class="danger-type-msg">
                Cholesterol
              </div>
            </div>
            <div class="col col-lg-9">
              <div class="danger-tips-title">
                Tips
              </div>
              <div class="danger-tips-msg">
                High Blood Cholesterol can be caused due to factors like smoking, an unhealthy diet and lack of exercise,
                as well as having an underlying condition, such as high blood pressure or diabetes.
              </div>
            </div>
          </div>

        </div>
      </div>     
    </div>

    <div class="card row">
      <div class="col-lg-12">
        <div class="card-body">
          <div class="row">
            <div class="col col-lg-3"> 
              <div class="danger-tips-title">
                Blood Sugar
              </div>
            </div>
            <div class="col col-lg-9">
              <div class="danger-tips-title">
                Tips
              </div>
              <div class="danger-tips-msg">
                Carbohydrates: Eating food containing too much carbohydrates, a form of sugar.                            
                Blood sugar levels in patients with diabetes can rise within hours after eating.
              </div>
            </div>
          </div>

        </div>
      </div>     
    </div>


  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template>

            <!-- <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>About Me</label>
                  <textarea rows="4" cols="80" class="form-control" placeholder="Here can be your description" value="Mike">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</textarea>
                </div>
              </div>
            </div> -->
            
          </form>
        </div>
      </div>
    </div>

    
    <!-- <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="../assets/img/bg5.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <a href="#">
              <img class="avatar border-gray" src="../assets/img/mike.jpg" alt="...">
              <h5 class="title">Mike Andrew</h5>
            </a>
            <p class="description">
              michael24
            </p>
          </div>
          <p class="description text-center">
            "Lamborghini Mercy
            <br> Your chick she so thirsty
            <br> I'm in that two seat Lambo"
          </p>
        </div>
        <hr>
        <div class="button-container">
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-facebook-f"></i>
          </button>
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-twitter"></i>
          </button>
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-google-plus-g"></i>
          </button>
        </div>
      </div>
    </div> -->

   
  </div>

  
 
</div>
