<div class="panel-header panel-header-sm">
</div>

<!-- Author: Abhishek Sarkar
     Date: 16-04-2020
    Module: Heart Attack Predictor -->
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title" style="color:#5781ff;">Heart Attack Predictor</h5>
        </div>
        <div class="card-body">

          <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
            <div class="row">

              <div class="col-md-3 pr-1">
                <div class="form-group">
                  <label>What's your age group?</label>
                  <input type="text" class="form-control" placeholder="Eg: 32" value="Eg: 32">
                </div>
              </div>

              <div class="col-md-3 px-1">
                <div class="form-group">
                  <label class="col-form-label  pt-0">Gender</label>
                  <div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input class="custom-control-input" type="radio" name="gridRadios" id="genRadio1" value="option1"
                        checked>
                      <label class="custom-control-label" for="genRadio1">
                        Male
                      </label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input class="custom-control-input" type="radio" name="gridRadios" id="genRadio2" value="option1">
                      <label class="custom-control-label" for="genRadio2">
                        Female
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 px-1">
                <div class="form-group">
                  <label class="col-form-label  pt-0">Do you experience chest pain?</label>
                  <div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input class="custom-control-input" type="radio" name="chestRadios" id="chestRadio1"
                        value="option1" checked>
                      <label class="custom-control-label" for="chestRadio1">
                        Yes
                      </label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input class="custom-control-input" type="radio" name="chestRadios" id="chestRadio2"
                        value="option1">
                      <label class="custom-control-label" for="chestRadio2">
                        No
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 pl-1">
                <div class="form-group">
                  <label>Blood Pressure level</label>
                  <input type="text" class="form-control" placeholder="Eg: 110" value="">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 pr-1">
                <div class="form-group">
                  <label>Cholesterol level</label>
                  <input type="text" class="form-control" placeholder="Eg: 140" value="">
                </div>
              </div>
              <div class="col-md-3 pl-1">
                <div class="form-group">
                  <label>Fasting blood sugar level</label>
                  <input type="text" class="form-control" placeholder="Eg: 323" value="">
                </div>
              </div>
              <div class="col-md-3 px-1">
                <div class="form-group">
                  <label class="col-form-label  pt-0">Resting electrocardiograph?</label>
                  <div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input class="custom-control-input" type="radio" name="restRadios" id="restRadio1" value="option1"
                        checked>
                      <label class="custom-control-label" for="restRadio1">
                        Yes
                      </label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input class="custom-control-input" type="radio" name="restRadios" id="restRadio2"
                        value="option1">
                      <label class="custom-control-label" for="restRadio2">
                        No
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 pl-1">
                <div class="form-group">
                  <label>Maximum heart rate achieved</label>
                  <input type="text" class="form-control" placeholder="Eg: 323" value="">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3 pr-1">
                <div class="form-group">
                  <label class="col-form-label  pt-0">Exercise include angina</label>
                  <div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input class="custom-control-input" type="radio" name="exeRadios" id="exeRadio1" value="option1"
                        checked>
                      <label class="custom-control-label" for="exeRadio1">
                        Yes
                      </label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input class="custom-control-input" type="radio" name="exeRadios" id="exeRadio2" value="option1">
                      <label class="custom-control-label" for="exeRadio2">
                        No
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 pl-1">
                <div class="form-group">
                  <label>Depression induced by exercise</label>
                  <input type="text" class="form-control" placeholder="Enter in range 0-10" value="">
                </div>
              </div>
              <div class="col-md-3 pl-1">
                <div class="form-group">
                  <label>Slope of the peak exercise</label>
                  <input type="text" class="form-control" placeholder="Enter in range 0-10" value="">
                </div>
              </div>
              <div class="col-md-3 pl-1">
                <div class="form-group">
                  <label>Vessels coloured by flourosopy</label>
                  <input type="text" class="form-control" placeholder="Enter in range 0-3" value="">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Thalassemia level</label>
                  <input type="text" class="form-control" placeholder="3=Normal, 6= Fixed defect, 7= reversible defect"
                    value="">
                </div>
              </div>

            </div>

            <div style="text-align: center;">
              <button type="submit" class="btn btn-info">Calculate Now</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>



</div>

<!-- ================================= Modal HTML and Styles Start ================================= -->

<!-- Modal Styles -->
<!-- Author: Anshu, Date: April 17, 20 -->
<style>
  .result-image {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .result-message-text {
    color: #00D68D;
    text-align: center;
    font-weight: bold;
    padding: 30px 0px;
  }

  .danger-tips-title {
    text-align: center;
  }

  .result-message-text .danger-message {
    font-weight: bold;
    color: #e95e38;
    padding: 20px 0px;
  }

  .danger-tips-msg {
    border-left: 0.5px solid rgba(0, 0, 0, 0.5);
    font-size: 12px;
    padding: 5px;
  }

  .result-danger-message i {
    font-size: 100px;
    color: #e95e38;
  }

  .result-success-message i{
    font-size: 200px; 
    color:#00D68D;
  }

  .danger-type-msg {
    text-align: center;
  }

  .stats-container .card {
    padding: 10px;
  }

  .accent-primary {
    border-top: solid 5px #5781ff;
  }

  /* .predictor-result {
    margin-bottom: 40px;
  } */

  .appointment-btn {
    margin-bottom: 40px;
    text-align: center;
  }
</style>

<!-- HTML -->
<!-- Author: Anshu, Date: April 17, 20 -->
<ng-template #mymodal let-modal let-ref="dialogRef">
  <div>
    <div class="modal-header">
      <h6 class="modal-title" style="margin: 0;">Heart Attack Predictor</h6>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="health-predictor-result-container modal-body">

      <!-- Success Message Start, Heart OK 👍 💖 -->
      <div class="predictor-result-success" *ngIf="isHeartOK; else dangerTemplate">
        <div class="result-title"></div>
        <div class="result-body">

          <div class="predictor-result">
            <div class="result-message result-success-message" style="text-align: center;">
              <!-- <img src="../../assets/img/heart-ok.png" alt="" class="result-image"> -->
              <i class="fas fa-check-circle"></i>
              <div class="result-message-text">
                Congratulations! You are safe.
              </div>
            </div>
          </div>

          <div class="card-row row stats-container">

            <div class="card-col col-lg-6">
              <div class="card accent-primary">
                <div style="text-align: center;">
                  Cholesterol
                </div>
                <hr />
                <div style="text-align: center;">
                  174
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="card accent-primary">
                <div style="text-align: center;">
                  Blood Sugar
                </div>
                <hr />
                <div>
                  <div style="text-align: center;">
                    120
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
      <!-- Success Message End 🙂 -->

      <!-- Danger Message Start, Heart not OK 💔 -->
      <ng-template #dangerTemplate>
        <div class="predictor-result-danger">
          <div class="result-title"></div>
          <div class="result-body">
            <div class="predictor-result">
              <div class="result-message result-danger-message" style="text-align: center;">

                <i class="fas fa-exclamation-triangle"></i>

                <div class="result-message-text">
                  <div class="danger-message">
                    <span> We suggest you to have a consultation with a cardiologist at the earliest.</span>
                  </div>
                </div>

              </div>
            </div>

            <div class="appointment-btn">
              <!-- TODO: Add a button below to Book and Appointment with Doctor 👨‍⚕️👩‍⚕️🩺-->
              <a href="https://www.practo.com" class="btn btn-success" target="_blank">
                Book Appointment
              </a>
            </div>

            <div>
              <div class="stats-container">

                <!-- Cholestrol Details -->
                <div class="card accent-primary">
                  <div class="row">
                    <div class="col col-lg-3">
                      <div class="danger-type-msg">
                        Cholesterol
                      </div>
                    </div>
                    <div class="col col-lg-9">
                      <div class="danger-tips-title">
                        Tips
                      </div>
                      <div class="danger-tips-msg">
                        High Blood Cholesterol can be caused due to factors like smoking, an unhealthy diet and lack
                        of exercise,
                        as well as having an underlying condition, such as high blood pressure or diabetes.
                      </div>
                    </div>
                  </div>
                </div>


                <!-- Blood Sugar Details -->
                <div class="card accent-primary">
                  <div>

                    <div class="row">
                      <div class="col col-lg-3">
                        <div class="danger-tips-title">
                          Blood Sugar
                        </div>
                      </div>
                      <div class="col col-lg-9">
                        <div class="danger-tips-title">
                          Tips
                        </div>
                        <div class="danger-tips-msg">
                          Carbohydrates: Eating food containing too much carbohydrates, a form of sugar.
                          Blood sugar levels in patients with diabetes can rise within hours after eating.
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
    <div class="modal-footer">
      <button class="btn btn-light" (click)="modal.close()">Close</button>
    </div>
  </div>
</ng-template>

<!-- ================================= Modal HTML and Styles End ================================= -->